extends ../layout/base.pug
block config
    - var title = "Platform"
    - var page = "platform"
block content
    .about.about_1
        .wrapper
            h1.title.about_1__title About Platform
            p.about_1__text W-profit - platform, that unites playable ads developers,
                br
                | advertisers and our media buying expertise in one place.
            button.about_1__btn.btn.btn--red(data-target="request-demo") Request a demo
    .about.about_2
        .wrapper
            h1.title.about_2__title Features
            .about_2__items
                .about_2__item
                    img.about_2__img(src=require("../images/about_1.svg") alt="Marketplace")
                    h2.about_2__item__title Marketplace
                    p.about_2__text The marketplace gathers talented playable ads developers and designers from all over the world, that brings ad content diversity and local expertise for scalable growth of your business. Maximize your performance with the new advertising formats!
                .about_2__item
                    img.about_2__img(src=require("../images/about_2.svg") alt="Distribution")
                    h2.about_2__item__title Distribution
                    p.about_2__text With the help of our qualified advertising experts reach 2+ billion people on popular social, entertainment, gaming apps & services like Instagram, Facebook, Google, Snapchat & many more.
                .about_2__item
                    img.about_2__img(src=require("../images/about_3.svg") alt="Analytics, Transparency & full control")
                    h2.about_2__item__title Analytics, Transparency &&nbsp;full&nbsp;control
                    p.about_2__text Get all the data on creatives performance at one place. Control your budget and get maximum performance using our predictive models.
    .about.about_3
        .wrapper
            h1.title.about_3__title Testimonials and case studies
            .about_3__items
                .about_3__item
                    video.about_3__img(src=require("../media/pokerup_encoded.mp4") muted loop autoplay playsinline)
                    .about_3__texts
                        a(href="https://itunes.apple.com/us/app/pokerup.-free-online-poker/id1182383163?l=ru&ls=1&mt=8" target="_blank")
                            img.about_3__texts__img(src=require("../images/testimonials-icon-1.png"))
                            h2.about_3__texts__title PokerUp: online poker
                        .about_3__texts__items
                            .about_3__texts__item
                                span CTR
                                p +70%
                            .about_3__texts__item
                                span CPA (to registrations)
                                p -300%
                .about_3__item
                    video.about_3__img(src=require("../media/aviasales_encoded.mp4") muted loop autoplay playsinline)
                    .about_3__texts
                        a(href="https://itunes.apple.com/RU/app/id498958864?mt=8" target="_blank")
                            img.about_3__texts__img(src=require("../images/testimonials-icon-2.png"))
                            h2.about_3__texts__title Aviasales
                        .about_3__texts__items
                            .about_3__texts__item
                                span CTR
                                p +200%
                            .about_3__texts__item
                                span CPA (to registrations)
                                p -300%
    include ../layout/popup_demo