extends ../layout/base.pug
block config
    - var title = 'About'
    - var page = 'about'
block content
    section.backgrounds.backgrounds--start
        .background__wrapper
            img(src=require('../images/block-1-bg.svg')).background.background_1
    section.block.block_1
        .wrapper
            img(src=require('../images/w_logo_color.svg') width=249 height=67).block_1__logo
            h1.title.block_1__title We are W-profit —
                br
                | performance
                nobr media buying agency
            .block_1__items
                .block_1__item
                    p In-house media buying experts
                .block_1__item
                    p Cutting-edge ad formats
                    span Playable ads, 360° videos, etc.
                .block_1__item
                    p Steady flow of ad creatives
    section.block.block_2
        .wrapper
            h1.title.block_2__title Playable Ads Marketplace
            p.block_2__text Gathering playable ads developers, advertisers and
                br
                | our media buying expertise to double you profit
            .block_2__items
                .block_2__item
                    .block_2__item__text
                        p I'm a developer
                        a.btn.btn--red(href="/developers.html") Learn more
                    img.block_2__img(src=require("../images/main_1.svg") alt="I'm a developer")
                .block_2__item
                    .block_2__item__text
                        p I'm an advertiser
                        a.btn.btn--red(href="/about.html") Learn more
                    img.block_2__img(src=require("../images/main_2.svg") alt="I'm an advertiser")
    section.block.block_3
        .wrapper
            h1.title.block_3__title Traffic sources
            .block_3__items
                .block_3__item
                    img(src=require('../images/logo_5.svg') width=70 height=70).block_3__icon
                    p.block_3__caption Facebook
                .block_3__item
                    img(src=require('../images/logo_4.svg') width=70 height=70).block_3__icon
                    p.block_3__caption Instagram
                .block_3__item
                    img(src=require('../images/logo_1.svg') width=70 height=70).block_3__icon
                    p.block_3__caption Facebook
                        br
                        | Audience network
                .block_3__item
                    img(src=require('../images/logo_6.svg') width=70 height=70).block_3__icon
                    p.block_3__caption Snapchat
                .block_3__item
                    img(src=require('../images/logo_2.svg') width=70 height=70).block_3__icon
                    p.block_3__caption Google
                .block_3__item
                    img(src=require('../images/logo_3.svg') width=70 height=70).block_3__icon
                    p.block_3__caption Applovin
    section.backgrounds.backgrounds--end
        .background__wrapper
            img(src=require('../images/block-3-bg.svg')).background.background_2
    section.block.block_4
        .wrapper
            h1.title.block_4__title Pricing models
            .block_4__items
                .block_4__item
                    .block_4__caption CPI
                    .block_4__text cost per install
                .block_4__item
                    .block_4__caption CPA
                    .block_4__text cost per action
                .block_4__item
                    .block_4__caption Service Fee
                .block_4__item
                    .block_4__caption Revenue share
    section.block.block_5
        .wrapper
            h1.title.block_5__title Verticals
            .block_5__items
                .block_5__item
                    img.block_5__logo(src=require('../images/icon_1.svg'))
                    p.block_5__caption E-commerce
                .block_5__item
                    img.block_5__logo(src=require('../images/icon_2.svg'))
                    p.block_5__caption Games
                .block_5__item
                    img.block_5__logo(src=require('../images/icon_3.svg'))
                    p.block_5__caption Utilities
                .block_5__item
                    img.block_5__logo(src=require('../images/icon_4.svg'))
                    p.block_5__caption Travel