block config
    include ./config.pug
header.header
    button.header__menu_button
        img.opener(src=require("../images/m_menu.svg") alt="Menu")
        img.closer(src=require("../images/cancel.svg") alt="Close" width=25 height=25)
    .wrapper.wrapper--head
        .header__item.header__item--left
            a.header__sign_up(href='http://platform.w-profit.com/register') Sign Up
            a.header__sign_up(href='http://platform.w-profit.com/login') Sign In
            a(href="/" class=page === 'about' ? 'header__link active': 'header__link') About
            a(href="about.html" class=page === 'platform' ? 'header__link active': 'header__link') Platform
            a(href="developers.html" class=page === 'partners' ? 'header__link active': 'header__link') Partners
        .header__item.header__item--right
            a.header__logo(href="/")
                img(src=require("../images/w_logo_white.svg") width=117 height=33 alt="W-Profit")
include ./popup_sign_up.pug